{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/estilos-productos.css' %}">
    <script src="{% static 'js/validaciones-productos.js' %}"></script>
{% endblock %}
{% block title %} <b><u>Gestión Producto</u></b>{% endblock %}

{% block content %}

    <div class="grid-container">
        <form class="form-agregar-producto" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Registrar Producto</legend>

                <div>
                    {{ form.descripcion.label_tag }}
                    {{ form.descripcion }}
                </div>

                <div class="campo-doble">
                    <div>
                        {{ form.unidad_medida.label_tag }}
                        {{ form.unidad_medida }}
                    </div>
                    <div>
                        {{ form.cantidad_disponible.label_tag }}
                        {{ form.cantidad_disponible }}
                    </div>
                </div>

                <div class="campo-doble">
                    <div>
                        {{ form.precio_unidad.label_tag }}
                        {{ form.precio_unidad }}
                    </div>
                    <div>
                        {{ form.punto_reposicion.label_tag }}
                        {{ form.punto_reposicion }}
                    </div>
                </div>

                <div>
                    {{ form.categoria.label_tag }}
                    {{ form.categoria }}
                </div>

                <button class="boton-registrar" type="submit">Guardar</button>
                <button class="boton-cancelar" type="reset">Cancelar</button>
            </fieldset>
        </form>

        <div class="tabla-productos">
            <fieldset>
                <legend>Productos</legend>
                <table id="productos">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Categoría</th>
                            <th>Cantidad disponible</th>
                            <th>Unidad</th>
                            <th>Precio/unidad</th>
                            <th>Editar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto.id }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.categoria }}</td>
                            <td>{{ producto.cantidad_disponible }}</td>
                            <td>{{ producto.unidad_medida }}</td>
                            <td>{{ producto.precio_unidad }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No hay productos disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
{% endblock %}