{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/estilos-productos.css' %}">
    <script src="{% static 'js/validaciones-productos.js' %}"></script>
{% endblock %}
{% block title %} <b><u>Gestión Producto</u></b>{% endblock %}

{% block content %}

    <div class="grid-container">
            <form id="form-producto" class="form-agregar-producto" action="#">
            <fieldset>
            <legend>Registrar Producto</legend>
                <div>
                    <label for="descrip-producto">Descripción del Producto</label>
                    <textarea id="descrip-producto" rows="1" cols="20" required placeholder="Escriba la descripción del producto.."></textarea>
                </div>

                <!-- Agrupación de "Unidad / medida" y "Cantidad disponible" en una fila -->
                <div class="campo-doble">
                    <div>
                        <label for="unidad-medida">Unidad / medida</label>
                        <select id="unidad-medida">
                            <option value="">Selecciones una opción...</option>
                            <option value="Kilogramos">Kilogramos</option>
                            <option value="Gramos">Gramos</option>
                            <option value="Unidad">Unidad</option>
                        </select>
                    </div>
                    <div>
                        <label class="cantidad" for="cantidad">Cantidad disponible</label>
                        <input type="number" id="cantidad" min="0" placeholder="Ingrese una cantidad.." required>
                    </div>
                </div>

                <!-- Agrupación de "Precio / unidad" y "Punto de reposición" en otra fila -->
                <div class="campo-doble">
                    <div>
                        <label for="precio">Precio / unidad</label>
                        <input type="number" id="precio" min="0" step="0.01" placeholder="Ingrese una precio por unidad de unidad medida.." required>
                    </div>
                    <div>
                        <label for="punto-reposicion">Punto de reposición</label>
                        <input type="number" id="punto-reposicion" min="0" placeholder="Ingrese un valor.." required>
                    </div>
                </div>

                <div>
                    <label for="categoriaProduc">Categoría de producto</label>
                    <select id="categoriaProduc">
                        <option value="">Selecciones una opción..</option>
                        <option value="Panificacion">Panificación</option>
                        <option value="Pasteleria">Pastelería</option>
                    </select>
                </div>

                <button class="boton-registrar" type="submit">Guardar</button>
                <button class="boton-cancelar" type="reset">Cancelar</button>
                </fieldset>
        </form>

        <div class="tabla-productos">
            <fieldset>
                <legend>Productos</legend>
                <table id="productos">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Categoría</th>
                            <th>Cantidad disponible</th>
                            <th>Unidad</th>
                            <th>Precio/unidad</th>
                            <th>Editar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </fieldset>
        </div>
    </div>
{% endblock %}