{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panaderia El Maná</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %} {% endblock %}
</head>

<body>

    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"> <img src="{% static 'img/barra_menu.png' %}"> </a>
            <div class="dropdown-content">
                <a href="/gestion_productos/registrar">Gestión de Productos</a>
                <a href="/gestion_insumos/pedir_insumos">Pedir Insumos</a>
                <a href="/gestion_insumos/registrar_insumos">Registrar Insumos</a>
                <a href="/gestion_ventas/ventas">Gestión de Ventas</a>
                <a href="/gestion_empleados/formulario/">Gestión de Empleados</a>
                <a href="/gestion_ventas/mayoristas">Clientes Mayoristas</a>
                <a href="reportes.html">Reportes</a>
                <a href="contacto.html">Contactos</a>
            </div>
        </li>

        <li class="menu-title">{% block title%} {% endblock %}</li>

        <li class="logo_menu">
            <a href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </li>

    </ul>

    <div class="usuario">

        {% if user.is_authenticated %}
        <div class="username">
                {{ user.username }}
            <a  href="/usuarios/logout">Cerrar sesión</a>
         </div>
        {% else %}
            <a class="login" href="/usuarios/login">Iniciar sesión</a>
        {% endif %}
    </div>


    {% block content %}

    {% endblock %}
    <footer>
        <p>&copy; 2024 Panadería El Maná. Todos los derechos reservados de autor.</p>
    </footer>
</body>
</html>

