{% extends "base/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/estilos-pagPrincipal.css' %}">
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          let slideIndex = 0;
          const slides = document.getElementsByClassName("carousel-slide");

          function showSlide(index) {
              for (let i = 0; i < slides.length; i++) {
                  slides[i].classList.remove("active");
              }
              slides[index].classList.add("active");
          }

          function nextSlide() {
              slideIndex = (slideIndex + 1) % slides.length;
              showSlide(slideIndex);
          }

          function prevSlide() {
              slideIndex = (slideIndex - 1 + slides.length) % slides.length;
              showSlide(slideIndex);
          }

          document.getElementById("next").onclick = nextSlide;
          document.getElementById("prev").onclick = prevSlide;

          // Inicializa el carrusel
          showSlide(slideIndex);
      });
    </script>

{% endblock %}
{% block title %} <u><b>Delicias Maná</b></u> {% endblock %}
{% block content %}

  <!-- Carrusel de Imágenes -->
  <section id="carousel">
      <div class="carousel-slide active">
          <img src="{% static 'img/Designer (1).jpeg' %}" alt="Panadería El Maná">
          <div class="caption">
              <h3><u>Panadería El Maná</u></h3>
              <p>¡La mejor calidad del mercado!</p>
          </div>
      </div>
      <div class="carousel-slide">
          <img src="{% static 'img/Designer (2).jpeg' %}" alt="Productos frescos">
          <div class="caption">
              <h3> <u>Productos Frescos</u> </h3>
              <p>¡Hechos con amor y dedicación!</p>
          </div>
      </div>
      <div class="carousel-slide">
          <img src="{% static 'img/Designer.jpeg' %}" alt="Sabores únicos">
          <div class="caption">
              <h3> <u>Sabores Únicos</u> </h3>
              <p>¡Endulzamos tu día!</p>
          </div>
      </div>
      <button id="prev">❮</button>
      <button id="next">❯</button>
  </section>

  <!-- Sección de Presentación -->
  <section id="about">
      <div class="about-card">
          <img src="{% static 'img/Designer (5).jpeg' %}" alt="Productos de calidad">
          <p><strong>En Panadería El Maná, nos enorgullece ofrecer productos de la más alta calidad, elaborados con amor y dedicación.</strong></p>
          <p> <strong> Desde nuestras crujientes baguettes hasta nuestras deliciosas galletas y pasteles, trabajamos cada día para brindarte lo mejor en panificación y pastelería.</strong></p>
          <p><strong>Explora nuestra página para conocer más sobre nuestros productos, realizar pedidos y descubrir cómo nuestra pasión por la repostería se traduce en sabores inolvidables.</strong></p>
      </div>
  </section>
{% endblock %}