{% extends 'base/base.html'%}
{% load static %}
{% block head %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/estilos-clientes.css' %}">
<!--    <script src="{% static 'js/validaciones-clientes.js'%}"></script>-->
{% endblock %}

{% block title %}<b><u>Gestion de Clientes Mayoristas</u></b>{% endblock %}

{% block content %}
    <div class="grid-container">
        <form class="form-agregar-cliente" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Agregar Cliente</legend>

                <div>
                    {{ form.razonSocial.label_tag }}
                    {{ form.razonSocial }}
                </div>

                <div>
                    {{ form.cuit.label_tag }}
                    {{ form.cuit }}
                </div>

                <div class="campo-doble">
                    <div>
                        {{ form.domicilio.label_tag }}
                        {{ form.domicilio }}
                    </div>
                    <div>
                        {{ form.telefono.label_tag }}
                        {{ form.telefono }}
                    </div>
                </div>

                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <button type="submit">Agregar Cliente Mayorista</button>
                <button type="reset">Cancelar</button>
            </fieldset>
        </form>

        <!-- Tabla de clientes -->
        <div class="tabla-cliente">
            <fieldset>
                <legend>Listado de Clientes Mayoristas</legend>

                <div class="tabla-scoll">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Razon Social</th>
                                <th>Cuit</th>
                                <th>Domicilio Fiscal</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Modificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mayorista in mayoristas%}
                             <tr>
                                <td>{{ mayorista.id }}</td>
                                <td>{{ mayorista.razonSocial }}</td>
                                <td>{{ mayorista.cuit }}</td>
                                <td>{{ mayorista.domicilio }}</td>
                                <td>{{ mayorista.telefono }}</td>
                                <td>{{ mayorista.email }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7">No hay clientes mayoristas cargados.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <label for="buscar">Buscar cliente:</label>
                <input type="text" id="buscar" placeholder="Buscar por Razón Social...">
            </fieldset>
        </div>
    </div>
{% endblock %}