{% extends 'base/base.html'%}
{% load static %}
{% block head %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/estilos-venta.css' %}">
{% endblock %}


{% block title %}<b><u>Registrar Venta</u></b>{% endblock %}


{% block content %}
        <div class="contenedor-principal">
            <div class="main-content">
                <!-- Columna izquierda: Datos predefinidos y datos del producto -->
                <section class="formulario">
                    <div class="cuadro-datos datos-predefinidos">
                        <h3><u>Datos Predefinidos<b></b></u></h3><br>
                        <form method="POST">
                            <div class="fila">
                                <div class="campo">
                                    <label for="venta-num">Venta N°</label>
                                    <input type="text" id="venta-num" value="1" disabled>
                                </div>
                                <div class="campo">
                                    <label for="fecha">Fecha</label>
                                    <input type="text" id="fecha" placeholder="dd/mm/aaaa" disabled>
                                </div>
                                <div class="campo">
                                    <label for="vendedor">ID Vendedor</label>
                                    <input type="text" id="vendedor" disabled>
                                </div>
                            </div>
                            <div class="fila">
                                <div class="campo">
                                    <label for="comprobante">N° Comprobante</label>
                                    <input type="text" id="comprobante" disabled>
                                </div>
                                <div class="campo">
                                    <label for="cliente">Tipo de cliente</label>
                                    <select id="cliente">
                                        <option value="Minorista">Minorista</option>
                                        <option value="Mayorista">Mayoristas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="fila">
                                <div class="campo">
                                    <label for="pago">Forma de pago</label>
                                    <select id="pago">
                                        <option value="Efectivo">Efectivo</option>
                                        <option value="Tarjeta">Tarjeta</option>
                                        <option value="Transferencia">Transferencia</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="cuadro-datos">
                        <h3><u><b>Datos del Producto</b></u></h3><br>
                        <form method="POST">
                            <div class="fila">
                                <div class="campo">
                                    <label for="producto">Producto</label>
                                    <input type="text" placeholder="Ingrese la descripción.." id="producto">
                                </div>
                                <div class="campo">
                                    <label for="precio">Precio / unidad</label>
                                    <input type="number" id="precio" min="0.01" step="0.01" placeholder="precio por unidad.." required>
                                </div>
                                <div class="campo">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" id="cantidad" min="1" placeholder="Ingrese la cantidad.." required>
                                </div>
                            </div>
                            <button type="button" id="agregar-btn">Agregar</button>

                        </form>
                    </div>
                </section>

                <!-- Columna derecha: Tabla de productos y botones -->
                <section class="tabla-productos">
                    <div class="cuadro-tabla">
                        <h3><u><b>Detalles</b></u></h3><br>
                        <table>
                            <thead>
                                <tr class="fila-tabla">
                                    <th>ID</th>
                                    <th>Producto</th>
                                    <th>Categoría</th>
                                    <th>Cantidad</th>
                                    <th>Precio / unidad</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Filas generadas dinámicamente -->
                            </tbody>
                        </table>

                        <div class="total-pagar">
                            <span>TOTAL A PAGAR</span>
                            <input type="text" id="campo-input" disabled>
                        </div>

                        <div class="acciones-tabla">
                            <button type="button">Cancelar</button>
                            <button type="submit">Registrar</button>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </main>
{% endblock %}