{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilos-pagProveedores.css' %}">
<script src="{% static 'js/insumos.js' %}"></script>
{% endblock %}
{% block title%} <u><b>Registrar Insumo</b></u> {% endblock %}
{% block content %}
<section class="container">
    <div class="predefinidos">
        <strong><h2>Datos Predefinidos</h2></strong>

        <label for="pedidoNum">Pedido Nº</label>
        <input type="text" id="pedidoNum" placeholder="Auto-generado" readonly>

        <label for="fecha">Fecha</label>
        <input type="date" id="fecha">

        <label for="idProveedor">ID Proveedor</label>
        <input type="text" id="idProveedor" placeholder="Ingrese ID proveedor...">

        <label for="numComprobante">Nº Comprobante</label>
        <input type="text" id="numComprobante" placeholder="Ingrese N° comprobante">

        <label for="tipoPago">Forma de pago</label>
        <select id="tipoPago">
            <option value="Efectivo">Efectivo</option>
            <option value="Transferencia">Transferencia</option>
            <option value="Tarjeta">Tarjeta</option>
        </select>
    </div>

    <div class="producto">
        <h2>Datos del Producto</h2>

        <label for="producto">Producto</label>
        <input type="text" id="producto" placeholder="Ingrese el producto...">

        <label for="precioUnidad">Precio / unidad</label>
        <input type="number" id="precioUnidad" placeholder="$ Auto-generado" readonly >

        <label for="cantidad">Cantidad</label>
        <input type="number" id="cantidad" min="1" max="500" placeholder="Ingrese la cantidad...">

        <button id="agregarProducto">Agregar</button>
    </div>

    <div class="detalles">
        <h2>Detalles del Pedido</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Categoría</th>
                    <th>Cantidad</th>
                    <th>Precio / unidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="listaInsumos">
            </tbody>
        </table>

        <div class="total">
            <label for="total">Total a Pagar</label>
            <input type="text" id="total" readonly placeholder="$ 0.00">
        </div>

        <div class="acciones">
            <button id="cancelar" class="btn">Cancelar</button>
            <button id="registrar" class="btn">Registrar</button>
        </div>
    </div>
</section>
{% endblock %}