{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/estilos-pagProveedores.css' %}">
    <script src="{% static 'js/pedidos.js' %}"></script>
{% endblock %}
{% block title%} <u><b>Pedir Insumo</b></u> {% endblock %}
{% block content %}
<section class="container">
    <form class="formulario-pedido" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="predefinidos">
            <strong><h2>Datos</h2></strong>

                {{ form.pedidoNum.label_tag }}
                {{ form.pedidoNum }}

                {{ form.fecha_solicitud.label_tag }}
                {{ form.fecha_solicitud }}

                {{ form.idProveedor.label_tag }}
                {{ form.idProveedor }}

                {{ form.numComprobante.label_tag }}
                {{ form.numComprobante }}

                {{ form.tipoPago.label_tag }}
                {{ form.tipoPago }}
        </div>

        <div class="producto">
            <h2>Datos del Producto</h2>

            {{ form.producto.label_tag }}
            {{ form.producto }}

            {{ form.cantidad.label_tag }}
            {{ form.cantidad }}

            <button id="agregarProducto">Agregar</button>
        </div>
    </form>
    <div class="detalles">
        <h2>Detalles del Pedido</h2>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Editar/Eliminar</th>

                </tr>
            </thead>
            <tbody id="listaInsumos">
                {% for pedido in Pedidos %}
                    <tr>
                        <td>{{ pedido.producto }}</td>
                        <td>{{ pedido.cantidad }}</td>
                        <td>
                            <a href="{% url 'apps.gestion_insumos:modificar_pedido' pedido.id %}" > <button type="submit" class="boton-modificar">Modificar</button></a>
                            <form method="POST" action="{% url 'apps.gestion_insumos:eliminar_pedido' pedido.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="boton-eliminar">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No hay productos registrados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="acciones">
            <button id="cancelar" class="btn">Cancelar</button>
            <button id="registrar" class="btn">Registrar</button>
        </div>
    </div>
</section>
{% endblock %}