{% extends "base/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/estilos-empleados.css' %}">
    <!--<script src="{% static 'js/validaciones-empleados.js' %}"></script>-->
{% endblock %}
{% block title %} <u><b>Registrar Empleados</b></u> {% endblock %}
{% block content %}
        <div class="contenedor-principal">
            <div class="main-content">
                <section class="formulario">
                    <div class="cuadro-datos datos-personales">
                        <h3><u><b>Datos Personales</b></u></h3>
                        <form class="formulario-empleado" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="fila">
                                <div class="campo">
                                    {{ form.nombre.label_tag }}
                                    {{ form.nombre }}
                                </div>
                                <div class="campo">
                                    {{ form.cuit.label_tag }}
                                    {{ form.cuit }}
                                </div>
                                <div class="campo">
                                    {{ form.domicilio.label_tag }}
                                    {{ form.domicilio }}
                                </div>
                            </div>
                            <div class="fila">
                                <div class="campo">
                                    {{ form.telefono.label_tag }}
                                    {{ form.telefono }}
                                </div>
                                <div class="campo">
                                    {{ form.fecha_nacimiento.label_tag }}
                                    {{ form.fecha_nacimiento }}
                                </div>
                            </div>


                            <div class="cuadro-datos datos-cargo">
                                <h3><u><b>Datos del Cargo</b></u></h3>
                                <div class="fila">
                                    <div class="campo">
                                        {{ form.cargo.label_tag }}
                                        {{ form.cargo }}
                                    </div>
                                    <div class="campo">
                                        {{ form.fecha_ingreso.label_tag }}
                                        {{ form.fecha_ingreso }}
                                    </div>
                                    <div class="campo">
                                        {{ form.estado.label_tag }}
                                        {{ form.estado }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="agregar-btn">Registrar empleado</button>
                        </form>
                        <div id="mensaje" style="color:red;"></div>
                    </div>
                </section>

                <!-- Columna derecha: Tabla de empleados y botones -->
                <section class="tabla-empleados">
                    <div class="cuadro-tabla">
                        <h3><u><b>Tabla de Empleados</b></u></h3>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CUIT</th>
                                    <th>Nombre</th>
                                    <th>Cargo</th>
                                    <th>Estado</th>
                                    <th>Fecha ingreso</th>
                                    <th>Telefono</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for empleado in empleados %}
                                <tr>
                                    <td>{{ empleado.id }}</td>
                                    <td>{{ empleado.cuit }}</td>
                                    <td>{{ empleado.nombre }}</td>
                                    <td>{{ empleado.cargo }}</td>
                                    <td>{{ empleado.estado }}</td>
                                    <td>{{ empleado.fecha_ingreso }}</td>
                                    <td>{{ empleado.telefono }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7">No hay empleados cargados.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
<br><br>
                        <div class="buscar-empleado">
                            <span><u><b>Buscar por CUIT:</b></u></span>
                            <input type="text" id="cuit-busqueda" maxlength="11" required><br><br>
                            <button id="btn-buscar">Buscar</button>
                        </div>
                        <div id="mensaje-busqueda"></div>

                    </div>
                </section>
            </div>
        </div>
{% endblock %}