* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: white url("../img/Designer (5).jpeg") center / cover no-repeat fixed;
}
/* Estilos generales para pantallas grandes (escritorio) */
body {
    font-size: 16px; /* Tamaño base de fuente */
}

/* Pantallas medianas (tabletas) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .container {
        flex-direction: column; /* Cambia la disposición a columna en lugar de filas */
        padding: 10px;
    }
    .predefinidos, .producto, .detalles {
        width: 100%; /* Ajusta el ancho al 100% para que los elementos sean más apilables */
        margin-bottom: 20px;
    }
}

/* Pantallas pequeñas (teléfonos móviles) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    header h1 {
        font-size: 4vw; /* Ajuste del tamaño del encabezado para pantallas pequeñas */
    }
    ul {
        flex-direction: column;
        padding: 5px;
    }
    ul li.menu-title {
        font-size: 24px;
        text-align: center;
    }
    .container {
        padding: 5px;
    }
    .predefinidos, .producto, .detalles {
        padding: 10px;
    }
}

.content {
    flex: 1;
}

footer{
    display: flex;
    background-color: #8b4513;
    color: white;
    padding: 20px 20px;
    justify-content: center;
    text-align:center;
    height: 50px;
    line-height: 0.5;
    font-size: 20px;
    border-radius: 500px;
    margin: 10px;
    margin-top: auto;
}


header h1 {
    color: black;
    height: 70px;
    width: 100%;
    text-align: left;
    line-height: 70px;
    font-size: 5vw;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding-bottom: 80px;
    border-bottom: 1px solid black;
}


ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #8b4513;
    height: 75px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul li.menu-title {
    font-size: 40px;
    color: #ffffff;
}
li.dropdown img {
    width: 70px;
    margin-left: 15px;
}
li.logo_menu img{
    width: 75px;
    margin-top: 5px;
    margin-right: 15px;
}

.dropdown-content {
    max-height: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: max-height 0.3s ease-out;
}

.dropdown-content a {
    height: 1px;
    color: black;
    padding: 17px 16px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    max-height: 300px;
}


.login{
    background-color: #f0eded;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    display:block;
    padding: 5px;
    width: 150px;
    margin-top: 15px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold
}

.username{
    background-color: #f0eded;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    display: block;
    padding: 5px;
    width: 220px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    color: black;
}

.username a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left:5px;

}

button {
    background-color: #ffa500;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%; /* Ajusta el ancho de cada botón */
    display: inline-block;
}

button:hover {
    background-color: #e69500;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}